<!DOCTYPE html>
<html>
<head>
    <title>Short URL</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Short URL Created</h1>
        <p>Original URL: <%= originalUrl %></p>
        <p>Short URL: <a href="/<%= shortCode %>">http://localhost:3000/<%= shortCode %></a></p>
        <a href="/">Create another</a>
    </div>
</body>
</html>